# Ignore All
**/*
#Keep these files
!.github/
!.github/workflows/
!.github/workflows/release.yml

!resources/
!resources/icon.png
!resources/screenshot_example.sh
!resources/screenshot0.png
!resources/Terminal-Colors.png

!themes/
!SuperGreatMonokai-Zed-color-theme.json

!.gitignore

!extension.toml

!LICENSE

!README.md

!SuperGreatMonokai-Zed.code-workspace
